# Environment Variables example

API_KEY=
DATABASE_URL=

# For production
RACK_ENV=production
RAILS_ENV=production
RAILS_LOG_TO_STDOUT=enabled
RAILS_SERVE_STATIC_FILES=enabled
WEB_CONCURRENCY=2

# For development
RACK_ENV=development
RAILS_ENV=development
RAILS_MASTER_KEY=
RAILS_MAX_THREADS=5
SECRET_KEY_BASE=
