<div class="mx-auto md:w-1/4 w-full">
  <h1 class="font-bold text-4xl">New portfolio</h1>

  <%= render "form", portfolio: @portfolio %>

  <%= link_to 'Back to portfolios', user_portfolios_path, class: "ml-2 rounded-lg py-1 px-3 bg-cyan-300 inline-block font-medium" %>
</div>
