<div class="mx-auto md:w-4/4 w-full flex">
  <div class="mx-auto">
    <%= render @portfolio %>
    <%= link_to 'Edit this portfolio', "/users/#{current_user.id}/portfolios/#{@portfolio.id}/edit", class: "mt-2 rounded-lg py-1 px-3 bg-dollar-split_blue text-white inline-block font-medium hover:bg-dollar-triad_blue" %>
    <div class="inline-block ml-2">
      <%= link_to 'Destroy this portfolio', "/users/#{current_user.id}/portfolios/#{@portfolio.id}", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?", turbo_method: :delete }, method: :delete, class: "mt-2 rounded-lg py-1 px-3 bg-dollar-triad_red font-medium text-white hover:bg-dollar-square_red" %>
    </div>
  </div>
</div>
