<div class="container felx">
  <h1 class="text-center my-8 font-bold text-4xl">The home of the Portfolio tracker</h1>
  <div><%= image_tag 'portfolio_tracker.jpg', class:"mx-auto" %></div>
  <div class="flex container w-full mt-14 gap-x-8">
    <div class="flex flex-col content-center">
      <div><%= image_tag 'portfolio1.jpg' %></div>
      <h2 class="text-lg font-bold text-center my-4">Real time portfolio tracking</h2>
      <p class="text-center">Record all your transactions and watch your portfolio performance in real time. Provides individual stock and total portfolio profit/loss, percentage profit/loss, realized profit/loss and transactions cost.</p>
    </div>
    <div class="flex-col content-center">
      <div><%= image_tag 'portfolio2.jpg' %></div>
      <h2 class="text-lg font-bold text-center my-4">Track all of your investments</h2>
      <p class="text-center">You can create multiple portfolios and track the investements per each portfolio, but also have the big picture. See your total Net Worth, what is your gain today in value and as a percentage. </p>
    </div>
    <div>
      <div><%= image_tag 'portfolio3.jpg' %></div>
      <h2 class="text-lg font-bold text-center my-4">Research, information, news</h2>
      <p class="text-center">Get detailed information about your portfolio stocks (US market only). Read the latest company news and announcements, look for the insider tradings and the earnings surprises. </p>
    </div>
  </div>
</div>
