<table cellspacing="0" cellpadding="0" border="0">
  <tr style="margin: 2rem;">
    <td width="650">
      <p class="welcome">Welcome <%= @user.name %>!</p>
    </td>
  </tr>
  <tr>
    <td width="650">
      <p>We're contacting you to notify you that your password has been changed.</p>
    </td>
  </tr>
  <tr>
    <td width="650">
      <p style="padding: 0 2rem;">Regards!</p>
      <p style="padding: 0 2rem;">Portfolio Tracker</p>
    </td>
  </tr>
</table>
