<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing transaction</h1>

  <%= render "update", transaction: @transaction %>

  <%= link_to "Show this transaction", "/users/#{current_user.id}/portfolios/#{params[:portfolio_id]}/transactions/#{params[:id]}", class: "ml-2 rounded-lg py-1 px-5 bg-dollar-split_blue inline-block font-medium text-white" %>
  <%= link_to "Back to transactions", user_portfolio_transactions_path, class: "ml-2 rounded-lg py-1 px-3 bg-dollar-triad_blue inline-block font-medium text-white" %>
</div>
