<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-8">Transactions</h1>
    <%= link_to 'New transaction', new_user_portfolio_transaction_path, class: "rounded-lg py-1 px-3 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="transactions" class="min-w-full">
    <table class="table-auto mb-6 border-collapse border border-slate-400">
      <thead>
        <tr>
          <th class="border border-slate-300 px-4">Type</th>
          <th class="border border-slate-300 px-4">Date</th>
          <th class="border border-slate-300 px-4">Symbol</th>
          <th class="border border-slate-300 px-4">Quantity</th>
          <th class="border border-slate-300 px-4">Price</th>
          <th class="border border-slate-300 px-4">Commission</th>
          <th class="border border-slate-300 px-4">Fee</th>
          <th class="border border-slate-300 px-4">Total</th>
          <th colspan="2" class="border border-slate-300 px-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @transactions %>
      </tbody>
      <tfoot>
        
      </tfoot>
    </table>
  </div>
</div>
