<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </style>
  </head>

  <body id="email-body">
    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#ebf4e5">
      <tr id="email-body-header">
        <td width="650">
          <h1>Portfolio Tracker</h1>
        </td>
      </tr>
      <tr>
        <td width="650">
          <%= yield %>
        </td>
    </table>
  </body>
</html>
